<!DOCTYPE html>

<html>

   <head>
      <title>Request Header Parser</title>
      <link href="style.css" rel="stylesheet" type="text/css">
   </head>

   <body>
      <h2>Request Header Parser Microservice</h2>
      <div class="container">

        <div class="usageExample">
          <h3>Example Usage:</h3>
          <p>
            <a href="api/whoami">https://project-headerparser.iotardis.repl.co/api/whoami</a>
          </p>
        </div>
        
        <div class="outputExample">
          <h3>Example Output:</h3>
          <p>
            <code>{"ipaddress":"::ffff:159.20.14.100","language":"en-US,en;q=0.5",<br>"software":"Mozilla/5.0 (X11; Ubuntu; Linux x86_64; rv:50.0) Gecko/20100101 Firefox/50.0"}</code>
          </p>
        </div>
        
      </div>
      <div class="footer">
        <p>
          by <a href="https://github.com/ioTardis">ioTardis</a>
        </p>
      </div>
   </body>


</html>
